* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #eef2f5;
}

button {
    margin-bottom: 50px;
    padding: 10px;
    border-radius: 10px; 
    border: none;
    background-color: #507b9c;
    color: #fff;
    font-family: 'Comfortaa';
    font-weight: bolder;
    font-size: 17px;
}

button:hover {
    background-color: #7395b0;
}

#container {
    display: grid; 
    /*flex-wrap: wrap;*/
    height: 432px;
    width: 432px;
    border-style: double;
    border-width: 5px;
    border-color: #507b9c;
}


